/* Html */
body {
  padding: 0;
  margin: 0;
}

/* Navlink */
.Navlink {
  text-align: center;
}
.navlink-link {
  text-decoration: none;
}
.navlink-span {
  font-size: 30px;
}

/* Navbar */
.navlogo-img {
  height: 125px;
}

/* Misc */
.debug {
  border: 1px red solid;
}

/* section */
.section {
  height: 70vh;
}

/* Hero */
.hero-self-image {
  height: 300px;
  border-radius: 10px 50px;
}
h1.hero-span {
  font-family: 'Tangerine', cursive;
  font-size: 60px;
}
h2.hero-span {
  font-family: 'Tangerine', cursive;
  font-size: 30px;
}
