/* Html */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/* Navlink */
.Navlink {
  text-align: center;
}
.navlink-link {
  text-decoration: none;
}
.navlink-span {
  font-size: 30px;
}

/* Navbar */
.navlogo-img {
  height: 125px;
}

/* Misc */
.debug {
  border: 1px red solid;
}

/* section */
.section {
  height: 70vh;
}

/* Hero */
.hero-self-image {
  padding: 2rem;
  border-radius: 40px 70px;
}
h1.hero-text {
  font-family: 'Tangerine', cursive;
  font-size: calc(300% + 1vw + 1vh);;
}
h2.hero-text {
  font-family: 'Tangerine', cursive;
  font-size: calc(100% + 1vw + 1vh);;
}
span.hero-text {
  font-family: 'Tangerine', cursive;
  font-size: calc(100% + 1vw + 1vh);;
}

/* Navbar */
.Navbar {
  background-color: white;
}